<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Edit Actor:</h1>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3><a href="/actors" class="btn btn-default">Back to All Actors</a></h3>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2><%= @actor.name %></h2>
    <form action="/actors" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <div class="form-group">
      <label for="actor[name]">Name: <input class="form-control" type="text" name="actor[name]"></label>
    </div>
      <input class="btn btn-defult" type="submit" name="submit" value="Submit">
    </form>
  </div>
  <div class="col-md-1">
  </div>
</div>
