<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>All Actors</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="form-group">
      <a href="/actors/new" class="btn btn-default" role="button">Create a New Actor</a>
      <% @name = "" %>
    </div>
    <div class="form-group">
      <form class="form-group" action="/actors/search" method="get">
        <div class="form-group">
          <label for="">Find Actor by Name:<input type="text" name="actor[name]" class="form-control"></label>
          <input type="submit" name="submit" value="Search" class="btn btn-default">
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table" >
      <% @actors.each_with_index do |actor, index| %>
      <tr>
        <td><%="#{index + 1}"%></td>
        <td><a href="/actors/<%=actor.id%>" ><%="#{actor.name}"%></a></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-1">
  </div>
</div>
