<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Create a Movie:</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3><a href="/movies" class="btn btn-default">Back to All Movies</a></h3>
  </div>
  <div class="col-md-1"></div>
</div>

<form action="/movies" method="POST">
  <div class="form-group">
    Title: <input class="form-control" type="text" name="movie[title]">
  </div>
  <div class="form-group">
    Year: <input class="form-control" type="text" name="movie[year]">
  </div>
  <div class="form-group">
    IMDB: <input class="form-control" type="text" name="movie[imdb]">
  </div>
  <div class="form-group">
    Pass?: <input type="radio" name="movie[binary]" value="PASS" checked> Pass
    <input type="radio" name="movie[binary]" value="FAIL"> Fail
  </div>
  <p>Test: <select class="form-control" name="movie[detail]">
    <option name="movie[detail]" value="ok">Passed!</option>
    <option name="movie[detail]" value="dubious">Passes, barely.</option>
    <option name="movie[detail]" value="men">Women only talk about men</option>
    <option name="movie[detail]" value="notalk">Women don't talk to each other</option>
    <option name="movie[detail]" value="nowomen">Fewer than two women</option>
  </select></p>
  <p>Director:</p>
  <select class="form-control" name= "movie[director_id]">
    <% @directors.each do |director| %>
    <option name="movie[director_id]" value=<%="#{director.id}"%>><%=director.name%></option>
    <% end %>
  </select>

  <p>Actors:</p>
  <% @actors.each do |actor|%>

  <div class="checkbox">
    <p><label><input type="checkbox" name="movie[actor_ids][]" value=<%="#{actor.id}"%> ><%= actor.name%></label>
    </p>
  </div>
  <%end%>

  <p><input class="btn btn-default" type="submit" name="submit" value="Submit"></p>
</form>
