<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Create a Movie:</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3><a href="/movies" class="btn btn-default">Back to All Movies</a></h3>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
  <form class="form-group" action="/movies/api" method="POST">
    <div class="form-group">
      <label for="movie[title]">Title:</label> <input type="text" class="form-control" name="movie[title]">
    </div>
    <div class="radio">
      Pass?:
      <label class="radio-inline">
        <input type="radio" name="movie[binary]" value="PASS" checked> Pass
      </label>
      <label class="radio-inline">
        <input type="radio" name="movie[binary]" value="FAIL"> Fail
      </label>
    </div>
    <div class="form-group">
      Test: <select class="form-control" name="movie[detail]">
        <option name="movie[detail]" value="ok">Passed!</option>
        <option name="movie[detail]" value="dubious">Passes, barely.</option>
        <option name="movie[detail]" value="men">Women only talk about men</option>
        <option name="movie[detail]" value="notalk">Women don't talk to each other</option>
        <option name="movie[detail]" value="nowomen">Fewer than two women</option>
      </select>
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Submit">
  </form>
</div>
<div class="col-md-1"></div>
</div>
</div>
