<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<h1>Edit Director</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3><a href="/directors" class="btn btn-default">Back to All Directors</a></h3>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<h2><%= @director.name %></h2>
<form action="/directors" method="POST">
  <input type="hidden" name="_method" value="PATCH">
      <div class="form-group">
      <label for="director[name]">Name: <input class="form-control" type="text" name="director[name]"></label>
    </div>
      <input class="btn btn-defult" type="submit" name="submit" value="Submit">
    </form>
  </div>
  <div class="col-md-1">
  </div>
</div>
