<div class="site-wrapper video-background">
    <!--
    Video from YouTube
    Have Questions? How To:
    https://github.com/pupunzi/jquery.mb.YTPlayer/wiki
    -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=wJa5Wh2e05k', containment:'body', autoPlay:true, mute:true, startAt:1, opacity:1}"></a>

    <div class="overlay"></div>

    <div class="site-wrapper-inner">

            <div class="masthead clearfix">
                <div class="inner">
                    <!-- <h3 class="masthead-brand"><i class="fa fa-phone fa-fw"><a href="tel:1234567890"></i> (123) 456-7890<br><small>click to call <i class="fa fa-level-up"></i></small></a></h3> -->
                    <!-- <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="https://twitter.com/jenyelkind"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="https://www.facebook.com/jenyelkind"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href="https://plus.google.com/+JenyElkind/"><i class="fa fa-google-plus fa-fw"></i></a></li>
                            <li><a href="mailto:elkind@elkind.net"><i class="fa fa-envelope fa-fw"></i></a></li>
                        </ul>
                    </nav> -->
                </div>
            </div>

            <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Does It Bechdel?</h1>
                <div class="col-xs-12" style="height:50px;"></div>
                <p class="lead">The Bechdel test asks whether a work of fiction features at least two women who talk to each other about something other than a man. The requirement that the two women must be named is sometimes added.</p>

                <p class="lead">
                  <div class="row">
                    <div class="col-lg-4">
                      <form class="form-group" action="/movie" method="get">
                        <label for="">Movie Title: <input class="form-control input-lg" type="text" name="movie[title]"></label><br>
                <div class="col-xs-12" style="height:25px;"></div>
                        <input type="submit" class="btn btn-lg btn-default" value="Bechdel it!">
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form class="form-group" action="/actor" method="get">
                        <label for="">Actor Name: <input class="form-control input-lg" type="text" name="actor[name]"></label><br>
                <div class="col-xs-12" style="height:25px;"></div>
                        <input type="submit" class="btn btn-lg btn-default" value="Bechdel it!">
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form class="form-group" action="/director" method="get">
                        <label for="">Director Name: <input class="form-control input-lg" type="text" name="director[name]"></label><br>
                <div class="col-xs-12" style="height:25px;"></div>
                        <input type="submit" class="btn btn-lg btn-default" value="Bechdel it!">
                      </form>
                    </div>
                  </div>
                </p>
            </div>

            <!-- <div class="mastfoot">
                <div class="inner">
                    <p>Copyright &copy; <a href="/">Your Website</a></p>
                    <p>Cover template by <a href="http://forbetterweb.com/">ForBetterWeb</a></p>
                </div>
            </div> -->

        </div>

    </div>
</div>
