
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Does It Bechdel?</h1>
          <p class="intro-text">Two women. Who talk to each other. About something besides a man. Simple right? </p><br>
          <p class="intro-text">Find out if your favorite movie passes.</p>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <form class="form-group" action="/movie" method="get">
                <label for="">Enter Movie Title: <input class="form-control" type="text" name="movie[title]"></label>
                <input type="submit" class="btn btn-default" value="Bechdel it!">
              </form>
            </div>
          </div>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Does It Bechdel?</h2>
      </div>

      <div class="row">

        <div class="container">
          <div class="row">
            <div class="span4"></div>
            <div class="span4"><br><img class="center-block" src="https://upload.wikimedia.org/wikipedia/en/b/bf/Dykes_to_Watch_Out_For_%28Bechdel_test_origin%29.jpg" /><br></div>
            <div class="span4"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-lg-offset-2">
        <p>The Bechdel test (/ˈbɛkdəl/ BEK-dəl) asks whether a work of fiction features at least two women who talk to each other about something other than a man. The requirement that the two women must be named is sometimes added.</p>

      <p>About half of all films meet these  requirements, according to user-edited databases and the media industry press. The test is used as an indicator for the active presence of women in films and other fiction, and to call attention to gender inequality in fiction.</p>
    </div>
  </div>

</section>
